.container {
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	max-width: 559px;
	min-height: 160px;
	border: solid 1px #eceef0;
	border-radius: 4px;
	box-shadow: 14px 0 4px rgba(121, 121, 121, 0.0527);
}
.block_info {
	display: flex;
	flex-direction: column;
}
.block_icons {
	margin-top: 25px;
	color: #707070;
}
.title {
	width: 200px;
	height: 24px;
	line-height: 25px;
	font-size: 14px;
	overflow: hidden;
}
.block_img {
	display: flex;
}
.img {
	margin: 15px;
	width: 125px;
	height: 123px;
}
.block_prise {
	margin-right: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1 1 auto;
}
.delete_icon {
	font-size: 40px;
	margin-left: 10px;
}
.plus_icon {
	font-size: 40px;
	margin-left: 10px;
}
.minus_icon {
	font-size: 40px;
	margin-left: 10px;
}
.count {
	font-size: 40px;

	margin-left: 10px;
	position: relative;
	bottom: 7px;
}
