.container {
	margin: 10px;
	display: flex;
	max-width: 559px;

	height: 140px;
	border: solid 1px #eceef0;
	border-radius: 4px;
	box-shadow: 14px 0 4px rgba(121, 121, 121, 0.0527);
	animation: exist 1s;
}

@keyframes exist {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.anime {
	animation: move 1s;
	position: relative;
	opacity: 1;
}
@keyframes move {
	from {
		right: 0;
		opacity: 1;
	}
	to {
		right: 100px;
		opacity: 0;
	}
}

.block_info {
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}
.block_icons {
	color: #707070;
}
.title {
	position: relative;
	top: -40px;
	left: 5px;
	color: #101010;
	text-transform: uppercase;
	width: 150px;
	height: 24px;
	line-height: 25px;
	font-size: 14px;
	overflow: hidden;
}
.cart__img {
	background-color: white;
	width: 100px;
	height: 130px;

	border-radius: 4px;
}

.block_prise {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// flex: 1 1 auto;
	padding: 20px;

	p {
		font-weight: 700;
	}
}
.icon {
	font-size: 25px;
	margin-left: 10px;
}

.count {
	font-size: 20px;

	margin-left: 10px;
	position: relative;
	bottom: 7px;
}
