.modal {
	height: 100%;
	width: 100%;
	overflow: visible;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgba(0, 0, 0, 0.6);
}
.container {
	margin: 10px;
	background-color: white;
	width: 697px;
	height: 500px;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;

	align-items: center;
	@media (width < 669px) {
		width: 500px;
		height: 400px;
	}
}
.close {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 24px;
	cursor: pointer;
}
.product__info {
	margin-left: 10px;
	display: flex;
	justify-content: space-around;
}

.img {
	max-width: 401px;
	max-height: 296px;
	@media (width < 669px) {
		max-width: 180px;
		max-height: 130px;
	}
}

.title {
	margin: 20px 10px 10px 10px;
	max-width: 300px;
	font-size: 15px;
	height: 36px;
	overflow: hidden;
	text-transform: uppercase;
}
.description {
	margin: 10px;
	font-size: 14px;
	max-width: 300px;
	height: 100px;
	overflow: auto;
	color: #707070;
}
.wrapper_price {
	margin-top: 30px;
	max-width: 200px;
	display: flex;
	justify-content: space-between;
}
.price_t {
	text-transform: uppercase;
	font-weight: 500;
}
.prise {
	font-size: 18px;
	font-weight: 700;
}
.button_block {
	max-width: 782px;
	display: flex;
	justify-content: space-around;
	@media (width < 669px) {
		max-width: 500px;
	}
	@media (width < 530px) {
		max-width: 300px;
	}
	button {
		width: 200px;
		background: white;
		margin: 5px;
		padding: 5px;
		font-size: 12px;
		color: #fd7114;
		border: solid 2px #fd7114;
		border-radius: 4px;
		@media (width < 669px) {
			max-width: 150px;
		}

		&:hover {
			background-color: #fd7114;
			transform: translateY(1px);
			transition-duration: 0.3s;
			color: white;
		}
	}
	.active {
		background: #fd7114;
		color: white;
	}
}

.delete_icon {
	font-size: 40px;
	margin-left: 10px;
}
.plus_icon {
	font-size: 40px;
	margin-left: 10px;
}
.minus_icon {
	font-size: 40px;
	margin-left: 10px;
}
.count {
	font-size: 40px;

	margin-left: 10px;
	position: relative;
	bottom: 7px;
}
