.button {
	background: white;
	height: 40px;
	width: 100%;
	color: #fd7114;
	border: solid 1px #fd7114;
	border-radius: 4px;
	transition: 0.4s;
	&:hover {
		box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	}
}

.button_orange {
	background-color: #fd7114;
	color: white;
}
