.form {
	width: 377px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	button {
		margin: 10px 0px;
		width: 377px;
	}
	input {
		width: 377px;
	}

	.price_block {
		width: 150px;
		height: 50px;
	}
	.price_order {
		display: flex;
		justify-content: space-between;
		span {
			color: #707070;
		}
	}
}
