.container {
	margin: 10px auto;
	width: 500px;
	height: 89px;
	border: solid 1px #eceef0;
	display: flex;
	justify-content: space-between;
	@media (width < 520px) {
		width: 350px;
	}

	div {
		margin: 10px 5px;
	}
	span {
		color: #707070;
		font-size: 15px;
		padding-right: 10px;
	}
}
.right_block {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mod {
	font-weight: 700;
	color: #373738;
}
