.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 600px;
}

.container_button {
	display: block;
}
.button {
	margin: 15px auto;
	width: 150px;
	height: 40px;
	background-color: #148dfd;
	color: white;
	border-radius: 4%;
	cursor: pointer;
	border: none;
}
