.home_container {
	display: flex;
	// align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	// position: relative;
}

.button_pos {
	display: flex;
	justify-content: center;
}

.button {
	margin: 15px -150px;
	width: 150px;
	height: 40px;
	background-color: #148dfd;
	color: white;
	border-radius: 4%;
	cursor: pointer;
	border: none;
	font-size: 14px;
	font-weight: 500;
}
