.form {
	width: 220px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	button {
		margin: 10px 0px;
		width: 220px;
	}
	input {
		width: 220px;
	}
	@media (width <700px) {
		display: none;
	}
	.price_block {
		width: 150px;
		height: 50px;
	}
	.price_order {
		display: flex;
		justify-content: space-between;
		span {
			color: #707070;
		}
	}
}
.open {
	width: 320px;
	padding-left: 50px;
	padding: 30px 50px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;

	position: absolute;
	right: 0px;
	top: 80px;
	border-radius: 5px;
	animation: move 1s;
	overflow: auto;
}
@keyframes move {
	from {
		right: -200px;
	}
	to {
		right: 0px;
	}
}
.close {
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
	font-size: 30px;
}
