.container {
	margin-top: 60px;
	padding: 30px;
	display: flex;
	flex-wrap: wrap;

	background-color: white;
}

.wrapper {
	display: flex;
}
.wrapper_product {
	margin-right: 50px;
	display: flex;
	flex-direction: column;
}
.message {
	font-size: 30px;
	position: relative;
	top: 25vh;
}
.open_modal {
	@media (width >=700px) {
		display: none;
	}
	// &:active {
	// 	position: relative;
	// 	left: 38px;
	// 	top: -60px;

	// 	animation: move 1s;
	// }
	// @keyframes move {
	// from {
	// 	left: 200px;
	// }
	// to {
	// 	left: 38px;
	// }
}
