.wrapper {
	width: 100%;
	background-color: #110f21;
	display: flex;
	justify-content: center;
	position: relative;
	margin-right: 20px;
	z-index: 11;
	position: fixed;
}
.logo {
	padding: 10px;
	color: white;
	text-decoration: none;
	font-size: 24px;
	font-weight: 600;
}

.wrapper_header {
	max-width: 1000px;
	display: flex;
	flex: 1 1;
	align-items: center;
	justify-content: space-between;
	height: 76px;
}
.product_container {
	display: flex;
	align-items: center;
}
.selectedProduct {
	margin-right: 25px;
	color: white;
}
.cart {
	margin-right: 25px;
	color: white;
}
.cart_counter {
	color: white;
	display: flex;
	font-size: 9px;
	font-weight: 500;

	align-items: center;
	justify-content: center;
	position: absolute;
	top: 23px;

	z-index: 100;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: rgb(227, 84, 84);
}
