.container {
	margin: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 520px;
	height: 112px;
	border: solid 1px #eceef0;
	border-radius: 4px;
	box-shadow: 14px 0 4px rgba(121, 121, 121, 0.0527);
}
.left_block {
	display: flex;
}

.title {
	color: #101010;
	text-transform: uppercase;
	max-width: 150px;
	height: 24px;
	line-height: 25px;
	font-size: 14px;
	overflow: hidden;
}
.right_block {
	width: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.block_info {
	padding-left: 8px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.cart__img {
	background-color: white;
	width: 110px;
	height: 110px;
}
.divorce {
	height: 80px;
	border: solid 0.6px #eceef0;
}

.block_prise {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 20px;

	p {
		margin: 10px;
		font-weight: 700;
	}
}

@media (width <550px) {
	.container {
		width: 360px;
		height: 103px;
	}
	.cart__img {
		width: 100px;
		height: 100px;
	}
	.right_block {
		width: 80px;
	}
}
