.container {
	height: 100vh;
}
.content {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: auto;
	background-color: #e5e5e5;
}
.main {
	display: flex;
	margin: 0 auto;
	flex: 1 1 auto;
}
