.form {
	width: 377px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	button {
		margin: 10px 0px;
		width: 377px;
	}
	input {
		width: 377px;
	}
}
@media (width < 440px) {
	.form {
		width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		button {
			margin: 10px 0px;
			width: 300px;
		}
		input {
			width: 300px;
		}
	}
}
