.form {
	width: 377px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	button {
		margin: 10px 0px;
		width: 377px;
	}
	input {
		width: 377px;
	}
}
@media (width < 440px) {
	.form {
		width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		button {
			margin: 10px 0px;
			width: 300px;
		}
		input {
			width: 300px;
		}
	}
}
.select {
	height: 40px;
	margin: 0 0 20px 0;
	.error {
		font-size: 14px;
		padding-left: 10px;

		position: relative;
		color: rgb(254, 9, 9);
		animation: move 1s;
	}
	@keyframes move {
		from {
			right: 100px;
			opacity: 0;
		}
		to {
			right: 0;
			opacity: 1;
		}
	}
}
