.container {
	max-width: 900px;
	height: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
}
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.message {
	margin: 50px 0;

	font-size: 20px;
	font-weight: 600;
}
